arrow==1.3.0
pytest==8.3.5
async-lru==2.0.4
uri-template==1.3.0
rfc3339_validator==0.1.4
executing==2.1.0
pexpect==4.9.0
absl-py==2.1.0
Pygments==2.19.1
pandas==2.2.3
grpcio==1.67.1
tomli==2.2.1
fqdn==1.5.1
decorator==5.1.1
idna==3.10
mistune==3.1.1
babel==2.17.0
traitlets==5.14.3
url-normalize==1.4.3
nest_asyncio==1.6.0
kiwisolver==1.4.8
pandocfilters==1.5.0
ptyprocess==0.7.0
flatbuffers==25.2.10
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
pybind11==2.13.6
pyzmq==26.2.1
Mako==1.3.9
overrides==7.7.0
parso==0.8.4
importlib_metadata==8.6.1
webencodings==0.5.1
colorama==0.4.6
tinycss2==1.4.0
zipp==3.21.0
pyobjc-framework-Cocoa==11.0
python-json-logger==2.0.7
polars==1.24.0
defusedxml==0.7.1
setuptools==75.8.0
openmeteo_sdk==1.19.0
requests==2.32.3
openpyxl==3.1.5
pickleshare==0.7.5
debugpy==1.8.12
alembic==1.15.1
pydantic==2.10.6
sympy==1.13.3
seaborn==0.13.2
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
pybind11_global==2.13.6
retry-requests==2.0.0
jupyter-console==6.6.3
jedi==0.19.2
joblib==1.4.2
ipython==8.32.0
et_xmlfile==2.0.0
SQLAlchemy==1.4.54
tensorboard_data_server==0.7.0
optree==0.14.0
pytz==2024.1
jupyter==1.1.1
PySocks==1.7.1
patsy==1.0.1
jupyter_client==8.6.3
iniconfig==2.0.0
beautifulsoup4==4.13.3
Markdown==3.6
asttokens==3.0.0
sentry-sdk==2.22.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
jupyterlab_widgets==3.0.13
fastjsonschema==2.21.1
exceptiongroup==1.2.2
click==8.1.8
jsonpointer==3.0.0
appnope==0.1.4
jupyter_server==2.15.0
openmeteo_requests==1.3.0
appdirs==1.4.4
h2==4.2.0
cffi==1.17.1
jsonschema==4.23.0
nbformat==5.10.4
stack_data==0.6.3
fsspec==2025.2.0
argon2-cffi==23.1.0
cattrs==24.1.2
Jinja2==3.1.5
threadpoolctl==3.5.0
zstandard==0.23.0
cached-property==1.5.2
gmpy2==2.1.5
Werkzeug==3.1.3
psutil==6.1.1
jupyter_core==5.7.2
nbconvert==7.16.6
referencing==0.36.2
pip==25.0.1
soupsieve==2.5
Send2Trash==1.8.3
jupyter-lsp==2.2.5
anyio==4.8.0
nbclient==0.10.2
gitdb==4.0.12
sniffio==1.3.1
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
fonttools==4.56.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
jupyterlab==4.3.5
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
widgetsnbextension==4.0.13
notebook==7.3.2
torch==2.6.0
jupyter-events==0.12.0
wandb==0.19.7.dev1
scipy==1.15.2
json5==0.10.0
certifi==2025.1.31
unicodedata2==16.0.0
setproctitle==1.3.5
tzdata==2025.1
Brotli==1.1.0
jupyterlab_server==2.27.3
pydantic_core==2.27.2
webcolors==24.11.1
httpcore==1.0.7
pycparser==2.22
cycler==0.12.1
ipywidgets==8.1.5
banal==1.0.6
wheel==0.45.1
pluggy==1.5.0
torchvision==0.21.0
comm==0.2.2
statsmodels==0.14.4
pure_eval==0.2.3
tornado==6.4.2
tensorboard==2.18.0
pyparsing==3.2.1
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
munkres==1.1.4
terminado==0.18.1
contourpy==1.3.1
orjson==3.10.15
argon2-cffi-bindings==21.2.0
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
rpds-py==0.22.3
pkgutil_resolve_name==1.3.10
matplotlib-inline==0.1.7
smmap==5.0.2
dataset==1.6.2
protobuf==5.28.3
hpack==4.1.0
jupyter_server_terminals==0.5.3
pyobjc-core==11.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
requests-cache==1.2.1
annotated-types==0.7.0
filelock==3.17.0
eval_type_backport==0.2.2
numpy==2.2.3
six==1.17.0
hyperframe==6.1.0
typing_utils==0.1.0
importlib_resources==6.5.2
greenlet==3.1.1
attrs==25.1.0
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
